<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<dict>
		<key>member1</key>
		<string>佐藤</string>
		<key>member2</key>
		<string>鈴木</string>
		<key>member3</key>
		<string>高橋</string>
		<key>member4</key>
		<string>田中</string>
		<key>member5</key>
		<string>伊藤</string>
		<key>member6</key>
		<string>渡辺</string>
	</dict>
	<key>mail</key>
	<dict>
		<key>member1</key>
		<string>sato@localhost.com</string>
		<key>member2</key>
		<string>suzuki@localhost.com</string>
		<key>member3</key>
		<string>takahashi@localhost.com</string>
		<key>member4</key>
		<string>tanaka@localhost.com</string>
		<key>member5</key>
		<string>ito@localhost.com</string>
		<key>member6</key>
		<string>watanabe@localhost.com</string>
	</dict>
	<key>number</key>
	<dict>
		<key>member1</key>
		<string>090-0000-0000</string>
		<key>member2</key>
		<string>090-0000-0001</string>
		<key>member3</key>
		<string>090-0000-0002</string>
		<key>member4</key>
		<string>090-0000-0003</string>
		<key>member5</key>
		<string>090-0000-0004</string>
		<key>member6</key>
		<string>090-0000-0005</string>
	</dict>
</dict>
</plist>
